In [1]:
import yfinance as yf

In [31]:
fdata = yf.download('NKNC', period='max', interval='1d')

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- NKNC: No timezone found, symbol may be delisted

In [32]:
fdata

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

# TODO
## 1. Загрузить список MOEX
## 2. Пропарсить на предмет наличия в yfinance
## 3. Проверить начала котировок
## 4. Отдельно повторить для индекса МОЕХ

### 1. Список MOEX

In [17]:
import pandas as pd

In [21]:
quotes_df = pd.read_csv('rates.csv', encoding='cp1251', sep=';')

In [22]:
quotes_df

,SECID,SHORTNAME,NAME,TYPENAME,ISIN,REGNUMBER,LISTLEVEL,FACEVALUE,FACEUNIT,ISSUESIZE,...,RTL3,RTH3,DISCOUNT1,LIMIT1,DISCOUNT2,LIMIT2,DISCOUNT3,DISCOUNTL0,DISCOUNTH0,FULLCOVERED
0,ABRD,АбрауДюрсо,Абрау-Дюрсо ПАО ао,Акции обыкновенные,RU000A0JS5T7,1-02-12500-A,3,"1,0",RUB,98000184,...,"12,486","486,96","50,0",49401.0,"75,0",247005.0,"95,0","9,11000","14,47000",1
1,ACKO,АСКО ао,АСКО ПАО ао,Акции обыкновенные,RU000A0JXS91,1-01-52065-Z,3,"1,0",RUB,536000000,...,"0,0","7,1544","100,0",NaN,NaN,NaN,NaN,"21,21000","44,08000",1
2,AFKS,Система ао,"АФК ""Система"" ПАО ао",Акции обыкновенные,RU000A0DQZE3,1-05-01669-A,1,"0,09",RUB,9650000000,...,"5,5241","24,3359","50,0",5975432.0,"56,0",29877160.0,"63,0","10,69000","8,20000",0
3,AFLT,Аэрофлот,Аэрофлот-росс.авиалин(ПАО)ао,Акции обыкновенные,RU0009062285,1-01-00010-A,1,"1,0",RUB,3975771215,...,"13,784","60,724","50,0",2375879.0,"56,0",11879395.0,"63,0","7,25000","13,94000",0
4,AKRN,Акрон,Акрон ПАО ао,Акции обыкновенные,RU0009028674,1-03-00207-A,2,"5,0",RUB,36757156,...,"0,0","37916,16","100,0",NaN,NaN,NaN,NaN,"7,74000","8,64000",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,YAKG,ЯТЭК ао,Якутская топл.-энерг. комп. ао,Акции обыкновенные,RU0007796819,1-01-20510-F,3,"1,0",RUB,826919375,...,"0,0","233,14","100,0",NaN,NaN,NaN,NaN,"6,16000","10,19000",1
174,YKEN,Якутскэнрг,"АК ""Якутскэнерго"" (ПАО) ао",Акции обыкновенные,RU0009257075,1-01-00304-A,3,"2,22",RUB,7963562986,...,"0,0","0,670256","100,0",NaN,NaN,NaN,NaN,"10,54000","12,19000",1
175,YRSB,ТНСэнЯр,ТНС энерго Ярославль ПАО ао,Акции обыкновенные,RU000A0D8760,1-01-50099-A,3,"1,0",RUB,17143584,...,"0,0","643,286","100,0",NaN,NaN,NaN,NaN,"16,04000","47,61000",1
176,ZILL,ЗИЛ ао,Завод им. И.А.Лихачева ПАО ао,Акции обыкновенные,RU0009086193,1-02-00036-A,3,"1000,0",RUB,2659962,...,"0,0","7271,92","100,0",NaN,NaN,NaN,NaN,"8,18000","13,59000",1
177,ZVEZ,ЗВЕЗДА ао,ЗВЕЗДА ПАО ао,Акции обыкновенные,RU0009091300,1-01-00169-D,3,"0,1",RUB,562020480,...,"0,0","10,2686","100,0",NaN,NaN,NaN,NaN,"10,21000","15,18000",1

## 2. Пропарсить на предмет наличия в yfinance

In [27]:
from tqdm import tqdm

In [ ]:
fdata = yf.download('NKNC.ME', period='max', interval='1d')

In [ ]:
fdata_list = {}
for ticker in tqdm(quotes_df['SECID'].to_list()):
    try:
        fdata_list[ticker] = yf.download(f'{ticker}.ME', period='max', interval='1d')
    except Exception as e:
        print(f'Exception of {ticker}: \n{e}')

In [29]:
len(fdata_list)

178

In [33]:
fdata_dict = {}

In [35]:
for key_val in fdata_list.keys():
    if len(fdata_list[key_val]) > 0:
        fdata_dict[key_val] = fdata_list[key_val]

In [36]:
len(fdata_dict)

166

In [37]:
quotes_df.shape

(178, 45)

In [38]:
## найдено 166/178, неплохо, посмотрим кого нет

In [41]:
quotes_df.loc[~quotes_df['SECID'].isin(fdata_dict.keys())]  # в общем нет только ноунеймов, так что все норм

,SECID,SHORTNAME,NAME,TYPENAME,ISIN,REGNUMBER,LISTLEVEL,FACEVALUE,FACEUNIT,ISSUESIZE,...,RTL3,RTH3,DISCOUNT1,LIMIT1,DISCOUNT2,LIMIT2,DISCOUNT3,DISCOUNTL0,DISCOUNTH0,FULLCOVERED
28,ELFV,ЭЛ5Энер ао,"""ЭЛ5-Энерго"" ПАО",Акции обыкновенные,RU000A0F5UN3,1-01-50077-A,1,"1,0",RUB,35371898370,...,"0,13935","0,97542","33,0",12227875.0,"50,0",61139375.0,"75,0","9,66000","12,91000",0
34,GAZC,ГАЗКОН-ао,ГАЗКОН (ПАО) ао,Акции обыкновенные,RU000A0JQG86,1-01-09870-A,3,"10,0",RUB,225381601,...,"0,0","701,73","100,0",NaN,NaN,NaN,NaN,"21,21000","44,08000",1
36,GAZS,ГАЗ-сервис,ГАЗ-сервис (ПАО) ао,Акции обыкновенные,RU000A0JQG78,1-01-09871-A,3,"10,0",RUB,206508967,...,"0,0","919,654","100,0",NaN,NaN,NaN,NaN,"21,21000","44,08000",1
39,GECO,iГЕНЕТИКО,ЦГРМ ГЕНЕТИКО ао,Акции обыкновенные,RU000A105BN4,1-01-87198-H,3,"0,01",RUB,83000000,...,"0,0","64,328","100,0",NaN,NaN,NaN,NaN,"31,15000","56,49000",1
57,KMTZ,КосогМЗ ао,Косогорский метал. завод ПАО,Акции обыкновенные,RU000A0HF1L0,1-01-03975-A,3,"1,0",RUB,28416095,...,"0,0","417,536","100,0",NaN,NaN,NaN,NaN,"12,10000","16,67000",1
113,POSI,iПозитив,Группа Позитив ао,Акции обыкновенные,RU000A103X66,1-01-85307-H,1,"0,5",RUB,66000000,...,"83,21","3245,09","50,0",17285.0,"75,0",84852.0,"95,0","8,95000","7,53000",0
118,RENI,Ренессанс,Ренессанс Страхование ао,Акции обыкновенные,RU000A0ZZM04,1-01-10601-Z,1,"9,88",RUB,556952780,...,"3,211","125,247","50,0",78431.0,"75,0",392155.0,"95,0","11,03000","11,45000",0
137,SGZH,Сегежа,Сегежа ао,Акции обыкновенные,RU000A102XG9,1-01-87154-H,1,"0,1",RUB,15690000000,...,"3,294","7,3318","25,0",2324525.0,"31,0",11622625.0,"38,0","9,26000","7,20000",0
139,SLEN,Сахэнер ао,"ПАО ""Сахалинэнерго"" ао",Акции обыкновенные,RU0009280465,1-03-00272-A,3,"10,0",RUB,1237175444,...,"0,0","7,4418","100,0",NaN,NaN,NaN,NaN,"9,52000","11,91000",1
140,SMLT,Самолет ао,ГК Самолет ао,Акции обыкновенные,RU000A0ZZG02,1-01-16493-A,1,"25,0",RUB,61579358,...,"124,26","4846,22","50,0",17782.0,"75,0",88912.0,"95,0","10,22000","8,19000",0
145,SVET,Светофор,Светофор Групп ао,Акции обыкновенные,RU000A100592,1-01-24350-J,3,"1,0",RUB,22333500,...,"0,0","57,74","100,0",NaN,NaN,NaN,NaN,"13,25000","25,39000",1
172,WUSH,iВУШХолднг,ВУШ Холдинг ао,Акции обыкновенные,RU000A105EX7,1-01-03292-G,1,"0,01",RUB,111382432,...,"0,0","432,1","100,0",NaN,NaN,NaN,NaN,"31,15000","56,49000",1

## 3. Проверить начала котировок

In [43]:
fdata_dict.keys()

dict_keys(['ABRD', 'ACKO', 'AFKS', 'AFLT', 'AKRN', 'ALRS', 'AMEZ', 'APTK', 'AQUA', 'ARSA', 'ASSB', 'AVAN', 'BANE', 'BELU', 'BLNG', 'BRZL', 'BSPB', 'CBOM', 'CHGZ', 'CHKZ', 'CHMF', 'CHMK', 'CNTL', 'DIOD', 'DSKY', 'DVEC', 'DZRD', 'EELT', 'ELTZ', 'FEES', 'FESH', 'FLOT', 'GAZA', 'GAZP', 'GAZT', 'GCHE', 'GEMA', 'GMKN', 'GTRK', 'HYDR', 'IGST', 'INGR', 'IRAO', 'IRKT', 'ISKJ', 'JNOS', 'KAZT', 'KBSB', 'KCHE', 'KGKC', 'KLSB', 'KMAZ', 'KMEZ', 'KOGK', 'KRKN', 'KROT', 'KRSB', 'KTSB', 'KUBE', 'KUZB', 'KZOS', 'LENT', 'LIFE', 'LKOH', 'LNZL', 'LPSB', 'LSNG', 'LSRG', 'LVHK', 'MAGE', 'MAGN', 'MFGS', 'MGNT', 'MGNZ', 'MGTS', 'MISB', 'MOEX', 'MRKC', 'MRKK', 'MRKP', 'MRKS', 'MRKU', 'MRKV', 'MRKY', 'MRKZ', 'MRSB', 'MSNG', 'MSRS', 'MSTT', 'MTLR', 'MTSS', 'MVID', 'NAUK', 'NFAZ', 'NKHP', 'NKNC', 'NKSH', 'NLMK', 'NMTP', 'NNSB', 'NSVZ', 'NVTK', 'OGKB', 'PAZA', 'PHOR', 'PIKK', 'PLZL', 'PMSB', 'PRMB', 'RASP', 'RBCM', 'RDRB', 'RGSS', 'RKKE', 'RNFT', 'ROLO', 'ROSB', 'ROSN', 'ROST', 'RTGZ', 'RTKM', 'RTSB', 'RUAL', 'RUSI', 'RZSB', 'SAGO', 'SARE', 'SBER', 'SELG', 'SFIN', 'SIBN', 'SNGS', 'SPBE', 'STSB', 'SVAV', 'TASB', 'TATN', 'TGKA', 'TGKB', 'TGKN', 'TNSE', 'TORS', 'TRMK', 'TTLK', 'TUZA', 'UCSS', 'UKUZ', 'UNAC', 'UNKL', 'UPRO', 'URKZ', 'USBN', 'UTAR', 'VGSB', 'VJGZ', 'VLHZ', 'VRSB', 'VSMO', 'VSYD', 'VTBR', 'WTCM', 'YAKG', 'YKEN', 'YRSB', 'ZILL', 'ZVEZ'])

In [46]:
fdata_dict['ABRD'].index[0]

Timestamp('2012-04-11 00:00:00')

In [50]:
first_dates = {}
for key_val in fdata_dict.keys():
    first_dates[key_val] = fdata_dict[key_val].index[0]

In [60]:
first_date_df = pd.DataFrame([first_dates])

In [71]:
first_date_df1 = first_date_df.T.rename(columns={0: 'first_date'})

In [73]:
first_date_df1['first_date'].min()

Timestamp('2007-11-19 00:00:00')

In [77]:
first_date_df1['first_date'].max()

Timestamp('2022-02-03 00:00:00')

In [75]:
# надо сгруппировать по годам и посмотреть частоту

In [79]:
first_date_df1['date_dt'] = first_date_df1['first_date'].apply(pd.to_datetime)

In [81]:
first_date_df1['year'] = first_date_df1['date_dt'].dt.year

In [87]:
first_date_df1[['date_dt', 'year']].groupby('year').agg({'date_dt': 'count'}).sort_values(by='date_dt', ascending=False)

      date_dt
year
2010       91
2011       42
2012       11
2013        6
2015        5
2017        5
2022        2
2007        1
2014        1
2019        1
2020        1

In [88]:
# кажется с 2016го лучше смотреть

In [94]:
lower_dates_tickets = list(first_date_df1.loc[first_date_df1['date_dt']<'2016-01-01'].index)  # скорее всего изучаемые акции, надо среди них верхнюю планку

In [98]:
last_dates = {}
for key_val in lower_dates_tickets:
    last_dates[key_val] = fdata_dict[key_val].index[-1]

In [99]:
last_dates_df = pd.DataFrame([last_dates]).T.rename(columns={0: 'last_date'})

In [102]:
last_dates_df['last_date'].min()  # в общем то все попадают в промежуток [2015 - 2021]

Timestamp('2022-05-24 00:00:00')