In [46]:
import yfinance as yf

In [53]:
fdata = yf.download('IMOEX.ME', period='max', interval='1wk', start='2022-01-01', end='2022-01-31')

[*********************100%***********************]  1 of 1 completed

In [50]:
fdata

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,154.850006,158.940002,146.399994,147.860001,147.860001,28666998
2022-01-10,150.460007,152.470001,137.570007,143.179993,143.179993,70583150
2022-01-17,144.630005,148.929993,124.500000,147.000000,147.000000,93053920
2022-01-24,146.559998,147.800003,137.000000,144.009995,144.009995,86616690

In [54]:
fdata

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-01-03,3825.300049,3892.330078,3720.169922,3772.040039,3772.040039,0
2022-01-10,3798.429932,3841.719971,3512.030029,3596.979980,3596.979980,0
2022-01-17,3633.010010,3651.360107,3256.600098,3439.250000,3439.250000,0
2022-01-24,3426.189941,3534.399902,3158.459961,3488.600098,3488.600098,0

# TODO
## 1. Загрузить список MOEX
## 2. Пропарсить на предмет наличия в yfinance
## 3. Проверить начала котировок
## 4. Отдельно повторить для индекса МОЕХ

### 1. Список MOEX

In [17]:
import pandas as pd

In [21]:
quotes_df = pd.read_csv('rates.csv', encoding='cp1251', sep=';')

In [22]:
quotes_df

,SECID,SHORTNAME,NAME,TYPENAME,ISIN,REGNUMBER,LISTLEVEL,FACEVALUE,FACEUNIT,ISSUESIZE,...,RTL3,RTH3,DISCOUNT1,LIMIT1,DISCOUNT2,LIMIT2,DISCOUNT3,DISCOUNTL0,DISCOUNTH0,FULLCOVERED
0,ABRD,АбрауДюрсо,Абрау-Дюрсо ПАО ао,Акции обыкновенные,RU000A0JS5T7,1-02-12500-A,3,"1,0",RUB,98000184,...,"12,486","486,96","50,0",49401.0,"75,0",247005.0,"95,0","9,11000","14,47000",1
1,ACKO,АСКО ао,АСКО ПАО ао,Акции обыкновенные,RU000A0JXS91,1-01-52065-Z,3,"1,0",RUB,536000000,...,"0,0","7,1544","100,0",NaN,NaN,NaN,NaN,"21,21000","44,08000",1
2,AFKS,Система ао,"АФК ""Система"" ПАО ао",Акции обыкновенные,RU000A0DQZE3,1-05-01669-A,1,"0,09",RUB,9650000000,...,"5,5241","24,3359","50,0",5975432.0,"56,0",29877160.0,"63,0","10,69000","8,20000",0
3,AFLT,Аэрофлот,Аэрофлот-росс.авиалин(ПАО)ао,Акции обыкновенные,RU0009062285,1-01-00010-A,1,"1,0",RUB,3975771215,...,"13,784","60,724","50,0",2375879.0,"56,0",11879395.0,"63,0","7,25000","13,94000",0
4,AKRN,Акрон,Акрон ПАО ао,Акции обыкновенные,RU0009028674,1-03-00207-A,2,"5,0",RUB,36757156,...,"0,0","37916,16","100,0",NaN,NaN,NaN,NaN,"7,74000","8,64000",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,YAKG,ЯТЭК ао,Якутская топл.-энерг. комп. ао,Акции обыкновенные,RU0007796819,1-01-20510-F,3,"1,0",RUB,826919375,...,"0,0","233,14","100,0",NaN,NaN,NaN,NaN,"6,16000","10,19000",1
174,YKEN,Якутскэнрг,"АК ""Якутскэнерго"" (ПАО) ао",Акции обыкновенные,RU0009257075,1-01-00304-A,3,"2,22",RUB,7963562986,...,"0,0","0,670256","100,0",NaN,NaN,NaN,NaN,"10,54000","12,19000",1
175,YRSB,ТНСэнЯр,ТНС энерго Ярославль ПАО ао,Акции обыкновенные,RU000A0D8760,1-01-50099-A,3,"1,0",RUB,17143584,...,"0,0","643,286","100,0",NaN,NaN,NaN,NaN,"16,04000","47,61000",1
176,ZILL,ЗИЛ ао,Завод им. И.А.Лихачева ПАО ао,Акции обыкновенные,RU0009086193,1-02-00036-A,3,"1000,0",RUB,2659962,...,"0,0","7271,92","100,0",NaN,NaN,NaN,NaN,"8,18000","13,59000",1
177,ZVEZ,ЗВЕЗДА ао,ЗВЕЗДА ПАО ао,Акции обыкновенные,RU0009091300,1-01-00169-D,3,"0,1",RUB,562020480,...,"0,0","10,2686","100,0",NaN,NaN,NaN,NaN,"10,21000","15,18000",1

## 2. Пропарсить на предмет наличия в yfinance

In [27]:
from tqdm import tqdm

In [ ]:
fdata = yf.download('NKNC.ME', period='max', interval='1d')

In [ ]:
fdata_list = {}
for ticker in tqdm(quotes_df['SECID'].to_list()):
    try:
        fdata_list[ticker] = yf.download(f'{ticker}.ME', period='max', interval='1d')
    except Exception as e:
        print(f'Exception of {ticker}: \n{e}')

In [29]:
len(fdata_list)

178

In [33]:
fdata_dict = {}

In [35]:
for key_val in fdata_list.keys():
    if len(fdata_list[key_val]) > 0:
        fdata_dict[key_val] = fdata_list[key_val]

In [36]:
len(fdata_dict)

166

In [37]:
quotes_df.shape

(178, 45)

In [38]:
## найдено 166/178, неплохо, посмотрим кого нет

In [41]:
quotes_df.loc[~quotes_df['SECID'].isin(fdata_dict.keys())]  # в общем нет только ноунеймов, так что все норм

,SECID,SHORTNAME,NAME,TYPENAME,ISIN,REGNUMBER,LISTLEVEL,FACEVALUE,FACEUNIT,ISSUESIZE,...,RTL3,RTH3,DISCOUNT1,LIMIT1,DISCOUNT2,LIMIT2,DISCOUNT3,DISCOUNTL0,DISCOUNTH0,FULLCOVERED
28,ELFV,ЭЛ5Энер ао,"""ЭЛ5-Энерго"" ПАО",Акции обыкновенные,RU000A0F5UN3,1-01-50077-A,1,"1,0",RUB,35371898370,...,"0,13935","0,97542","33,0",12227875.0,"50,0",61139375.0,"75,0","9,66000","12,91000",0
34,GAZC,ГАЗКОН-ао,ГАЗКОН (ПАО) ао,Акции обыкновенные,RU000A0JQG86,1-01-09870-A,3,"10,0",RUB,225381601,...,"0,0","701,73","100,0",NaN,NaN,NaN,NaN,"21,21000","44,08000",1
36,GAZS,ГАЗ-сервис,ГАЗ-сервис (ПАО) ао,Акции обыкновенные,RU000A0JQG78,1-01-09871-A,3,"10,0",RUB,206508967,...,"0,0","919,654","100,0",NaN,NaN,NaN,NaN,"21,21000","44,08000",1
39,GECO,iГЕНЕТИКО,ЦГРМ ГЕНЕТИКО ао,Акции обыкновенные,RU000A105BN4,1-01-87198-H,3,"0,01",RUB,83000000,...,"0,0","64,328","100,0",NaN,NaN,NaN,NaN,"31,15000","56,49000",1
57,KMTZ,КосогМЗ ао,Косогорский метал. завод ПАО,Акции обыкновенные,RU000A0HF1L0,1-01-03975-A,3,"1,0",RUB,28416095,...,"0,0","417,536","100,0",NaN,NaN,NaN,NaN,"12,10000","16,67000",1
113,POSI,iПозитив,Группа Позитив ао,Акции обыкновенные,RU000A103X66,1-01-85307-H,1,"0,5",RUB,66000000,...,"83,21","3245,09","50,0",17285.0,"75,0",84852.0,"95,0","8,95000","7,53000",0
118,RENI,Ренессанс,Ренессанс Страхование ао,Акции обыкновенные,RU000A0ZZM04,1-01-10601-Z,1,"9,88",RUB,556952780,...,"3,211","125,247","50,0",78431.0,"75,0",392155.0,"95,0","11,03000","11,45000",0
137,SGZH,Сегежа,Сегежа ао,Акции обыкновенные,RU000A102XG9,1-01-87154-H,1,"0,1",RUB,15690000000,...,"3,294","7,3318","25,0",2324525.0,"31,0",11622625.0,"38,0","9,26000","7,20000",0
139,SLEN,Сахэнер ао,"ПАО ""Сахалинэнерго"" ао",Акции обыкновенные,RU0009280465,1-03-00272-A,3,"10,0",RUB,1237175444,...,"0,0","7,4418","100,0",NaN,NaN,NaN,NaN,"9,52000","11,91000",1
140,SMLT,Самолет ао,ГК Самолет ао,Акции обыкновенные,RU000A0ZZG02,1-01-16493-A,1,"25,0",RUB,61579358,...,"124,26","4846,22","50,0",17782.0,"75,0",88912.0,"95,0","10,22000","8,19000",0
145,SVET,Светофор,Светофор Групп ао,Акции обыкновенные,RU000A100592,1-01-24350-J,3,"1,0",RUB,22333500,...,"0,0","57,74","100,0",NaN,NaN,NaN,NaN,"13,25000","25,39000",1
172,WUSH,iВУШХолднг,ВУШ Холдинг ао,Акции обыкновенные,RU000A105EX7,1-01-03292-G,1,"0,01",RUB,111382432,...,"0,0","432,1","100,0",NaN,NaN,NaN,NaN,"31,15000","56,49000",1

## 3. Проверить начала котировок

In [43]:
fdata_dict.keys()

dict_keys(['ABRD', 'ACKO', 'AFKS', 'AFLT', 'AKRN', 'ALRS', 'AMEZ', 'APTK', 'AQUA', 'ARSA', 'ASSB', 'AVAN', 'BANE', 'BELU', 'BLNG', 'BRZL', 'BSPB', 'CBOM', 'CHGZ', 'CHKZ', 'CHMF', 'CHMK', 'CNTL', 'DIOD', 'DSKY', 'DVEC', 'DZRD', 'EELT', 'ELTZ', 'FEES', 'FESH', 'FLOT', 'GAZA', 'GAZP', 'GAZT', 'GCHE', 'GEMA', 'GMKN', 'GTRK', 'HYDR', 'IGST', 'INGR', 'IRAO', 'IRKT', 'ISKJ', 'JNOS', 'KAZT', 'KBSB', 'KCHE', 'KGKC', 'KLSB', 'KMAZ', 'KMEZ', 'KOGK', 'KRKN', 'KROT', 'KRSB', 'KTSB', 'KUBE', 'KUZB', 'KZOS', 'LENT', 'LIFE', 'LKOH', 'LNZL', 'LPSB', 'LSNG', 'LSRG', 'LVHK', 'MAGE', 'MAGN', 'MFGS', 'MGNT', 'MGNZ', 'MGTS', 'MISB', 'MOEX', 'MRKC', 'MRKK', 'MRKP', 'MRKS', 'MRKU', 'MRKV', 'MRKY', 'MRKZ', 'MRSB', 'MSNG', 'MSRS', 'MSTT', 'MTLR', 'MTSS', 'MVID', 'NAUK', 'NFAZ', 'NKHP', 'NKNC', 'NKSH', 'NLMK', 'NMTP', 'NNSB', 'NSVZ', 'NVTK', 'OGKB', 'PAZA', 'PHOR', 'PIKK', 'PLZL', 'PMSB', 'PRMB', 'RASP', 'RBCM', 'RDRB', 'RGSS', 'RKKE', 'RNFT', 'ROLO', 'ROSB', 'ROSN', 'ROST', 'RTGZ', 'RTKM', 'RTSB', 'RUAL', 'RUSI', 'RZSB', 'SAGO', 'SARE', 'SBER', 'SELG', 'SFIN', 'SIBN', 'SNGS', 'SPBE', 'STSB', 'SVAV', 'TASB', 'TATN', 'TGKA', 'TGKB', 'TGKN', 'TNSE', 'TORS', 'TRMK', 'TTLK', 'TUZA', 'UCSS', 'UKUZ', 'UNAC', 'UNKL', 'UPRO', 'URKZ', 'USBN', 'UTAR', 'VGSB', 'VJGZ', 'VLHZ', 'VRSB', 'VSMO', 'VSYD', 'VTBR', 'WTCM', 'YAKG', 'YKEN', 'YRSB', 'ZILL', 'ZVEZ'])

In [46]:
fdata_dict['ABRD'].index[0]

Timestamp('2012-04-11 00:00:00')

In [50]:
first_dates = {}
for key_val in fdata_dict.keys():
    first_dates[key_val] = fdata_dict[key_val].index[0]

In [60]:
first_date_df = pd.DataFrame([first_dates])

In [71]:
first_date_df1 = first_date_df.T.rename(columns={0: 'first_date'})

In [73]:
first_date_df1['first_date'].min()

Timestamp('2007-11-19 00:00:00')

In [77]:
first_date_df1['first_date'].max()

Timestamp('2022-02-03 00:00:00')

In [75]:
# надо сгруппировать по годам и посмотреть частоту

In [79]:
first_date_df1['date_dt'] = first_date_df1['first_date'].apply(pd.to_datetime)

In [81]:
first_date_df1['year'] = first_date_df1['date_dt'].dt.year

In [87]:
first_date_df1[['date_dt', 'year']].groupby('year').agg({'date_dt': 'count'}).sort_values(by='date_dt', ascending=False)

      date_dt
year
2010       91
2011       42
2012       11
2013        6
2015        5
2017        5
2022        2
2007        1
2014        1
2019        1
2020        1

In [88]:
# кажется с 2016го лучше смотреть

In [94]:
lower_dates_tickets = list(first_date_df1.loc[first_date_df1['date_dt']<'2016-01-01'].index)  # скорее всего изучаемые акции, надо среди них верхнюю планку

In [98]:
last_dates = {}
for key_val in lower_dates_tickets:
    last_dates[key_val] = fdata_dict[key_val].index[-1]

In [99]:
last_dates_df = pd.DataFrame([last_dates]).T.rename(columns={0: 'last_date'})

In [102]:
last_dates_df['last_date'].min()  # в общем то все попадают в промежуток [2015 - 2021]

Timestamp('2022-05-24 00:00:00')

### 1.1 Перевести в log change
### 1.2 Посчитать волатильность

In [ ]:
fdata_dict

In [151]:
selected_quotes = {}
for key_val in fdata_list.keys():
    if key_val in lower_dates_tickets:
        selected_quotes[key_val] = fdata_list[key_val]

In [149]:
fdata_list

{'ABRD':                   Open        High         Low       Close   Adj Close
 Date
 2012-04-11   52.009998   53.250000   51.700001   53.070000   49.004147  \
 2012-04-12   53.000000   53.700001   53.000000   53.349998   49.262695
 2012-04-13   53.299999   53.400002   52.889999   53.270000   49.188828
 2012-04-16   52.910000   53.250000   52.910000   53.220001   49.142654
 2012-04-17   53.200001   53.380001   53.200001   53.299999   49.216526
 ...                ...         ...         ...         ...         ...
 2022-05-18  184.000000  184.000000  179.500000  180.000000  180.000000
 2022-05-19  181.500000  182.500000  178.000000  179.000000  179.000000
 2022-05-20  179.000000  179.000000  179.000000  179.000000  179.000000
 2022-05-23  179.000000  179.000000  179.000000  179.000000  179.000000
 2022-05-24  179.000000  179.000000  179.000000  179.000000  179.000000

             Volume   log_ret  log_ret_high  log_ret_low
 Date
 2012-04-11  249800       NaN           NaN          NaN
 2012-04-12   90500  0.005262      0.008415     0.024834
 2012-04-13   82900 -0.001501     -0.005602    -0.002078
 2012-04-16   59000 -0.000939     -0.002813     0.000378
 2012-04-17   77500  0.001502      0.002438     0.005466
 ...            ...       ...           ...          ...
 2022-05-18   20190  0.002782     -0.008119     0.022536
 2022-05-19   28650 -0.005571     -0.008186    -0.008392
 2022-05-20       0  0.000000     -0.019364     0.005602
 2022-05-23       0  0.000000      0.000000     0.000000
 2022-05-24       0  0.000000      0.000000     0.000000

 [2518 rows x 9 columns],
 'ACKO':              Open    High     Low   Close  Adj Close    Volume
 Date
 2017-07-12  2.900  3.6500  2.6300  3.6500   3.404889    489001
 2017-07-13  3.650  5.0370  3.6500  5.0000   4.664232     41001
 2017-07-14  4.300  6.9930  3.1645  6.1285   5.716949   1062001
 2017-07-17  7.560  7.5600  4.4140  4.9680   4.634381    575014
 2017-07-18  5.265  6.7165  3.0630  6.7165   6.265463  24649000
 ...           ...     ...     ...     ...        ...       ...
 2022-05-18  5.700  5.7000  5.7000  5.7000   5.700000         0
 2022-05-19  5.700  5.7000  5.7000  5.7000   5.700000         0
 2022-05-20  5.700  5.7000  5.7000  5.7000   5.700000         0
 2022-05-23  5.700  5.7000  5.7000  5.7000   5.700000         0
 2022-05-24  5.700  5.7000  5.7000  5.7000   5.700000         0

 [1206 rows x 6 columns],
 'AFKS':                  Open       High        Low      Close  Adj Close     Volume
 Date
 2011-11-21  22.309999  22.309999  21.700001  21.893999  15.663476    1273900  \
 2011-11-22  22.000000  22.540001  21.891001  22.540001  16.125639    2180400
 2011-11-23  22.000000  23.750000  21.950001  23.200001  16.597820       6156
 2011-11-24  23.670000  24.224001  23.400000  23.871000  17.077864    2361600
 2011-11-25  23.860001  24.000000  23.591000  24.000000  17.170156    2113500
 ...               ...        ...        ...        ...        ...        ...
 2022-05-18  12.612000  13.930000  12.612000  13.371000  13.371000  117144800
 2022-05-19  13.250000  13.370000  12.820000  13.350000  13.350000   21236800
 2022-05-20  13.350000  13.350000  13.350000  13.350000  13.350000          0
 2022-05-23  13.350000  13.350000  13.350000  13.350000  13.350000          0
 2022-05-24  13.350000  13.350000  13.350000  13.350000  13.350000          0

              log_ret  log_ret_high  log_ret_low
 Date
 2011-11-21       NaN           NaN          NaN
 2011-11-22  0.029079      0.010257     0.008763
 2011-11-23  0.028861      0.052291     0.002692
 2011-11-24  0.028512      0.019761     0.063969
 2011-11-25  0.005389     -0.009290     0.008129
 ...              ...           ...          ...
 2022-05-18  0.079756      0.113932     0.033869
 2022-05-19 -0.001572     -0.041031     0.016358
 2022-05-20  0.000000     -0.001497     0.040510
 2022-05-23  0.000000      0.000000     0.000000
 2022-05-24  0.000000      0.000000     0.000000

 [2615 rows x 9 columns],
 'AFLT':                  Open       High        Low      Close  Adj Close    Volume
 Date
 2010-03-03  55.580002  55.580002  54.299999  55.099998  39.564140    547540  \
 2010-03-04  55.200001  55.200001  54.060001  54.799999  39.348728    357044
 2010-03-05  54.860001  55.349998  54.799999  55.049999  39.528236    316035
 2010-03-09  55.200001  55.660000  53.580002  54.470001  39.111778   1057526
 2010-03-10  54.509998  54.880001  53.830002  54.360001  39.032791    456499
 ...               ...        ...        ...        ...        ...       ...
 2022-05-18  30.360001  30.900000  29.520000  30.059999  30.059999  10053680
 2022-05-19  30.059999  30.219999  29.200001  29.559999  29.559999   5273230
 2022-05-20  29.559999  29.559999  29.559999  29.559999  29.559999         0
 2022-05-23  29.559999  29.559999  29.559999  29.559999  29.559999         0
 2022-05-24  29.559999  29.559999  29.559999  29.559999  29.559999         0

              log_ret  log_ret_high  log_ret_low
 Date
 2010-03-03       NaN           NaN          NaN
 2010-03-04 -0.005460     -0.006860    -0.004430
 2010-03-05  0.004552      0.002714     0.013596
 2010-03-09 -0.010592      0.005585    -0.022514
 2010-03-10 -0.002022     -0.014113     0.004655
 ...              ...           ...          ...
 2022-05-18 -0.009931     -0.012862    -0.002706
 2022-05-19 -0.016773     -0.022252    -0.010899
 2022-05-20  0.000000     -0.022082     0.012253
 2022-05-23  0.000000      0.000000     0.000000
 2022-05-24  0.000000      0.000000     0.000000

 [3043 rows x 9 columns],
 'AKRN':                     Open          High           Low         Close
 Date
 2010-03-03   1072.500000   1104.900024   1060.010010   1100.000000  \
 2010-03-04   1039.959961   1106.790039   1039.959961   1085.040039
 2010-03-05   1095.000000   1113.500000   1093.000000   1113.000000
 2010-03-09   1102.359985   1120.000000   1091.010010   1100.000000
 2010-03-10   1100.000000   1105.599976   1080.000000   1090.000000
 ...                  ...           ...           ...           ...
 2022-05-18  18700.000000  18894.000000  17848.000000  18278.000000
 2022-05-19  18460.000000  18460.000000  18160.000000  18270.000000
 2022-05-20  18270.000000  18270.000000  18270.000000  18270.000000
 2022-05-23  18270.000000  18270.000000  18270.000000  18270.000000
 2022-05-24  18270.000000  18270.000000  18270.000000  18270.000000

                Adj Close  Volume   log_ret  log_ret_high  log_ret_low
 Date
 2010-03-03    347.462433   15015       NaN           NaN          NaN
 2010-03-04    342.736938   17220 -0.013693      0.001709    -0.019096
 2010-03-05    351.568695   14707  0.025442      0.006044     0.049744
 2010-03-09    347.462433    5843 -0.011749      0.005820    -0.001822
 2010-03-10    344.303650    7244 -0.009132     -0.012941    -0.010143
 ...                  ...     ...       ...           ...          ...
 2022-05-18  18278.000000    8382 -0.022504     -0.018667    -0.030459
 2022-05-19  18270.000000    3017 -0.000438     -0.023238     0.017330
 2022-05-20  18270.000000       0  0.000000     -0.010346     0.006039
 2022-05-23  18270.000000       0  0.000000      0.000000     0.000000
 2022-05-24  18270.000000       0  0.000000      0.000000     0.000000

 [3043 rows x 9 columns],
 'ALRS':                  Open       High        Low      Close  Adj Close    Volume
 Date
 2011-11-29  36.200001  40.609001  35.103001  39.000000  16.825106     19200  \
 2011-11-30  44.150002  54.599998  44.000999  54.599998  23.555143     76800
 2011-12-01  54.599998  54.599998  54.599998  54.599998  23.555143         0
 2011-12-02  45.863991  45.863991  45.863991  45.863991  19.786322      1899
 2011-12-05  37.549999  37.577000  36.700001  37.099998  16.005421   1552200
 ...               ...        ...        ...        ...        ...       ...
 2022-05-18  75.500000  78.900002  75.209999  77.300003  77.300003  12702170
 2022-05-19  77.500000  78.400002  76.150002  77.279999  77.279999   3288450
 2022-05-20  77.279999  77.279999  77.279999  77.279999  77.279999         0
 2022-05-23  77.279999  77.279999  77.279999  77.279999  77.279999         0
 2022-05-24  77.279999  77.279999  77.279999  77.279999  77.279999         0

              log_ret  log_ret_high  log_ret_low
 Date
 2011-11-29       NaN           NaN          NaN
 2011-11-30  0.336472      0.296044     0.225926
 2011-12-01  0.000000      0.000000     0.215822
 2011-12-02 -0.174354     -0.174354    -0.174354
 2011-12-05 -0.212063     -0.199288    -0.222904
 ...              ...           ...          ...
 2022-05-18  0.030206      0.042990     0.008144
 2022-05-19 -0.000259     -0.006357     0.012421
 2022-05-20  0.000000     -0.014389     0.014730
 2022-05-23  0.000000      0.000000     0.000000
 2022-05-24  0.000000      0.000000     0.000000

 [2609 rows x 9 columns],
 'AMEZ':                  Open       High        Low      Close  Adj Close   Volume
 Date
 2010-03-03  13.250000  13.300000  12.555000  12.800000  12.800000     3957  \
 2010-03-04  12.632000  12.919000  12.220000  12.300000  12.300000     3052
 2010-03-05  12.298000  12.790000  12.260000  12.648000  12.648000     1560
 2010-03-09  12.600000  12.700000  12.350000  12.650000  12.650000      807
 2010-03-10  12.550000  13.200000  12.500000  12.920000  12.920000     1664
 ...               ...        ...        ...        ...        ...      ...
 2022-05-18  21.754999  22.780001  21.605000  21.985001  21.985001  1838400
 2022-05-19  21.420000  22.000000  21.420000  21.735001  21.735001   265900
 2022-05-20  21.735001  21.735001  21.735001  21.735001  21.735001        0
 2022-05-23  21.735001  21.735001  21.735001  21.735001  21.735001        0
 2022-05-24  21.735001  21.735001  21.735001  21.735001  21.735001        0

              log_ret  log_ret_high  log_ret_low
 Date
 2010-03-03       NaN           NaN          NaN
 2010-03-04 -0.039846     -0.029065    -0.027045
 2010-03-05  0.027900     -0.010035     0.003268
 2010-03-09  0.000158     -0.007062     0.007314
 2010-03-10  0.021119      0.038615     0.012073
 ...              ...           ...          ...
 2022-05-18  0.017667      0.003518     0.013514
 2022-05-19 -0.011437     -0.034841    -0.008600
 2022-05-20  0.000000     -0.012119     0.014599
 2022-05-23  0.000000      0.000000     0.000000
 2022-05-24  0.000000      0.000000     0.000000

 [3043 rows x 9 columns],
 'APTK':                  Open       High        Low      Close  Adj Close  Volume
 Date
 2011-11-21  41.750938  41.963303  39.329979  40.340836  40.340836  175735  \
 2011-11-22  40.434277  40.833523  39.075142  40.323845  40.323845  147364
 2011-11-23  39.882126  40.519222  39.083633  39.822662  39.822662  109446
 2011-11-24  39.610298  39.865135  39.245033  39.321484  39.321484   81004
 2011-11-25  39.032665  39.236538  37.605576  38.412560  38.412560  205401
 ...               ...        ...        ...        ...        ...     ...
 2022-05-18  12.532000  12.636000  12.496000  12.510000  12.510000  322940
 2022-05-19  12.502000  12.562000  12.460000  12.470000  12.470000  104790
 2022-05-20  12.470000  12.470000  12.470000  12.470000  12.470000       0
 2022-05-23  12.470000  12.470000  12.470000  12.470000  12.470000       0
 2022-05-24  12.470000  12.470000  12.470000  12.470000  12.470000       0

              log_ret  log_ret_high  log_ret_low
 Date
 2011-11-21       NaN           NaN          NaN
 2011-11-22 -0.000421     -0.027292    -0.006501
 2011-11-23 -0.012507     -0.007727     0.000217
 2011-11-24 -0.012665     -0.016274     0.004121
 2011-11-25 -0.023387     -0.015894    -0.042673
 ...              ...           ...          ...
 2022-05-18 -0.008596     -0.004264    -0.002717
 2022-05-19 -0.003203     -0.005873    -0.002885
 2022-05-20  0.000000     -0.007351     0.000802
 2022-05-23  0.000000      0.000000     0.000000
 2022-05-24  0.000000      0.000000     0.000000

 [2615 rows x 9 columns],
 'AQUA':                   Open        High         Low       Close   Adj Close
 Date
 2010-04-20  259.468018  259.468018  157.963257  160.674805  145.940720  \
 2010-04-21  159.770950  161.505615  156.119049  158.666245  144.116348
 2010-04-22  149.499969  160.638275  149.499969  156.977249  142.582230
 2010-04-23  155.662552  160.638275  155.206070  159.296204  144.688538
 2010-04-26  159.770950  159.770950  157.032028  158.857971  144.290497
 ...                ...         ...         ...         ...         ...
 2022-05-18  428.500000  431.000000  423.000000  428.500000  428.500000
 2022-05-19  435.000000  435.000000  423.000000  427.000000  427.000000
 2022-05-20  427.000000  427.000000  427.000000  427.000000  427.000000
 2022-05-23  427.000000  427.000000  427.000000  427.000000  427.000000
 2022-05-24  427.000000  427.000000  427.000000  427.000000  427.000000

             Volume   log_ret  log_ret_high  log_ret_low
 Date
 2010-04-20  197748       NaN           NaN          NaN
 2010-04-21   80251 -0.012580     -0.474094    -0.011744
 2010-04-22   38625 -0.010702     -0.005385    -0.043323
 2010-04-23    8016  0.014665      0.000000     0.037458
 2010-04-26   10168 -0.002755     -0.005414     0.011696
 ...            ...       ...           ...          ...
 2022-05-18   16688  0.008202     -0.013825     0.028779
 2022-05-19    5787 -0.003507      0.009238     0.000000
 2022-05-20       0  0.000000     -0.018562     0.009412
 2022-05-23       0  0.000000      0.000000     0.000000
 2022-05-24       0  0.000000      0.000000     0.000000

 [3010 rows x 9 columns],
 'ARSA':              Open   High    Low  Close  Adj Close  Volume   log_ret
 Date
 2010-03-03  2.688  2.730  2.603  2.668   2.273268    1744       NaN  \
 2010-03-04  2.687  2.698  2.650  2.691   2.292865     785  0.008584
 2010-03-05  2.793  2.793  2.668  2.743   2.337172    1207  0.019139
 2010-03-09  2.719  2.764  2.690  2.764   2.355065     635  0.007627
 2010-03-10  2.715  2.929  2.657  2.900   2.470944   14434  0.048032
 ...           ...    ...    ...    ...        ...     ...       ...
 2022-05-18  5.690  5.740  5.630  5.740   5.740000   14500  0.008749
 2022-05-19  5.740  5.810  5.640  5.720   5.720000    9800 -0.003490
 2022-05-20  5.720  5.720  5.720  5.720   5.720000       0  0.000000
 2022-05-23  5.720  5.720  5.720  5.720   5.720000       0  0.000000
 2022-05-24  5.720  5.720  5.720  5.720   5.720000       0  0.000000

             log_ret_high  log_ret_low
 Date
 2010-03-03           NaN          NaN
 2010-03-04     -0.011791     0.017895
 2010-03-05      0.034606     0.006769
 2010-03-09     -0.010437     0.008212
 2010-03-10      0.057982    -0.012344
 ...                  ...          ...
 2022-05-18     -0.003478     0.021545
 2022-05-19      0.012121     0.001775
 2022-05-20     -0.015612     0.014085
 2022-05-23      0.000000     0.000000
 2022-05-24      0.000000     0.000000

 [3043 rows x 9 columns],
 'ASSB':               Open    High     Low   Close  Adj Close  Volume   log_ret
 Date
 2010-03-03  0.9010  0.9010  0.9010  0.9010   0.715830      30       NaN  \
 2010-03-04  0.8970  0.9000  0.8970  0.9000   0.715035     231 -0.001111
 2010-03-05  0.8990  0.9000  0.8990  0.9000   0.715035    3100  0.000000
 2010-03-09  0.9010  0.9010  0.9010  0.9010   0.715830    1894  0.001111
 2010-03-10  0.8990  0.8990  0.8970  0.8970   0.712652    1070 -0.004449
 ...            ...     ...     ...     ...        ...     ...       ...
 2022-05-18  0.7020  0.7145  0.6990  0.7055   0.705500   31000 -0.011276
 2022-05-19  0.7000  0.7750  0.7000  0.7685   0.768500  757000  0.085534
 2022-05-20  0.7685  0.7685  0.7685  0.7685   0.768500       0  0.000000
 2022-05-23  0.7685  0.7685  0.7685  0.7685   0.768500       0  0.000000
 2022-05-24  0.7685  0.7685  0.7685  0.7685   0.768500       0  0.000000

             log_ret_high  log_ret_low
 Date
 2010-03-03           NaN          NaN
 2010-03-04     -0.001111    -0.004449
 2010-03-05      0.000000     0.002227
 2010-03-09      0.001111     0.002222
 2010-03-10     -0.002222    -0.004449
 ...                  ...          ...
 2022-05-18      0.001401    -0.001430
 2022-05-19      0.081280     0.001430
 2022-05-20     -0.008422     0.093360
 2022-05-23      0.000000     0.000000
 2022-05-24      0.000000     0.000000

 [3043 rows x 9 columns],
 'AVAN':                   Open         High         Low       Close   Adj Close
 Date
 2011-03-21  158.500000   158.500000  158.500000  158.500000  125.033966  \
 2011-03-22  158.500000   158.500000  158.500000  158.500000  125.033966
 2011-03-23  221.899994   221.899994  221.899994  221.899994  175.047577
 2011-03-24  221.899994   221.899994  221.899994  221.899994  175.047577
 2011-03-25  221.899994   221.899994  221.899994  221.899994  175.047577
 ...                ...          ...         ...         ...         ...
 2022-05-18  895.000000   905.000000  890.000000  890.000000  890.000000
 2022-05-19  895.000000  1050.000000  890.000000  910.000000  910.000000
 2022-05-20  910.000000   910.000000  910.000000  910.000000  910.000000
 2022-05-23  910.000000   910.000000  910.000000  910.000000  910.000000
 2022-05-24  910.000000   910.000000  910.000000  910.000000  910.000000

             Volume   log_ret  log_ret_high  log_ret_low
 Date
 2011-03-21      20       NaN           NaN          NaN
 2011-03-22       0  0.000000      0.000000     0.000000
 2011-03-23    2360  0.336472      0.336472     0.336472
 2011-03-24       0  0.000000      0.000000     0.000000
 2011-03-25       0  0.000000      0.000000     0.000000
 ...            ...       ...           ...          ...
 2022-05-18      54 -0.016713      0.000000     0.000000
 2022-05-19    2184  0.022223      0.148610     0.000000
 2022-05-20       0  0.000000     -0.143101     0.022223
 2022-05-23       0  0.000000      0.000000     0.000000
 2022-05-24       0  0.000000      0.000000     0.000000

 [2786 rows x 9 columns],
 'BANE':               Open    High          Low        Close    Adj Close  Volume
 Date
 2011-11-18  1575.0  1575.0  1560.000000  1562.500000   612.663391    4218  \
 2011-11-21  1560.0  1560.0  1500.099976  1500.099976   588.196106     550
 2011-11-22  1540.0  1540.0  1500.000000  1505.000000   590.117371    7323
 2011-11-23  1505.0  1530.0  1480.000000  1480.000000   580.314697    2231
 2011-11-24  1500.0  1500.0  1480.099976  1493.500000   585.608215     306
 ...            ...     ...          ...          ...          ...     ...
 2022-05-18  1020.0  1045.0   996.500000   997.000000   997.000000    5488
 2022-05-19  1005.0  1014.5   990.000000  1008.000000  1008.000000    2831
 2022-05-20  1008.0  1008.0  1008.000000  1008.000000  1008.000000       0
 2022-05-23  1008.0  1008.0  1008.000000  1008.000000  1008.000000       0
 2022-05-24  1008.0  1008.0  1008.000000  1008.000000  1008.000000       0

              log_ret  log_ret_high  log_ret_low
 Date
 2011-11-18       NaN           NaN          NaN
 2011-11-21 -0.040755     -0.009569    -0.039154
 2011-11-22  0.003261     -0.012903    -0.000067
 2011-11-23 -0.016751     -0.006515    -0.013423
 2011-11-24  0.009080     -0.019803     0.000068
 ...              ...           ...          ...
 2022-05-18 -0.021826      0.013973     0.000502
 2022-05-19  0.010973     -0.029621    -0.006544
 2022-05-20  0.000000     -0.006428     0.018019
 2022-05-23  0.000000      0.000000     0.000000
 2022-05-24  0.000000      0.000000     0.000000

 [2616 rows x 9 columns],
 'BELU':                    Open    High          Low        Close    Adj Close
 Date
 2010-03-03   854.000000   860.0   845.000000   857.000000   791.243286  \
 2010-03-04   850.000000   898.5   847.000000   859.000000   793.089783
 2010-03-05   856.000000   895.0   847.000000   862.000000   795.859680
 2010-03-09   865.000000   865.0   851.000000   861.900024   795.767395
 2010-03-10   850.440002   860.0   848.679993   848.679993   783.561646
 ...                 ...     ...          ...          ...          ...

In [64]:
import numpy as np

In [ ]:
# нужно будет также загрузить внутридневные котировки для нормальной дневной волатильности

In [121]:
# считаем logreturns

In [167]:
for key_val in selected_quotes.keys():
    selected_quotes[key_val]['log_ret'] = np.log(selected_quotes[key_val]['Close']) - np.log(selected_quotes[key_val]['Close'].shift(1))

In [125]:
# logarithmic daily price spread

In [160]:
for key_val in selected_quotes.keys():
    selected_quotes[key_val]['log_price_spread'] = np.log(selected_quotes[key_val]['High']) - np.log(selected_quotes[key_val]['Low'])

In [ ]:
fdata = yf.download('SBER.ME', period='max', interval='1h', start='2022-01-20', end='2022-01-21')  # вот так надо за день качать данные

In [165]:
selected_quotes['SBER'].sort_values(by='log_price_spread', ascending=False).to_excel('sber_chng.xlsx')

In [166]:
# TODO есть грязные места где случались спайки вниз ненастоящие, надо как то научиться их вычислять и вычищать

In [168]:
# difference of daily logarithmic returns

In [169]:
for key_val in selected_quotes.keys():
    selected_quotes[key_val]['log_ret_diff'] = selected_quotes[key_val]['log_ret'] - selected_quotes[key_val]['log_ret'].shift(1)

In [170]:
selected_quotes['SBER'].sort_values(by='log_ret_diff', ascending=False)  # похожие вещи с грязными close есть похоже, надо проверить

,Open,High,Low,Close,Adj Close,Volume,log_price_spread,log_ret,log_ret_diff
Date,,,,,,,,,
2012-03-15,99.400002,118.323997,61.734001,101.150002,54.883446,309218848,0.650592,0.978413,1.937864
2012-03-19,97.199997,115.494003,7.175000,100.430000,54.492771,268617248,2.778616,0.909147,1.825438
2022-02-25,123.750000,152.889999,115.110001,130.500000,130.500000,396287150,0.283831,0.148420,0.777325
2012-01-27,89.769997,102.809998,58.110001,90.800003,49.267597,318425152,0.570545,0.205040,0.367904
2012-03-02,100.000000,101.599998,32.188000,100.839996,54.715240,296406336,1.149450,0.173004,0.335540
...,...,...,...,...,...,...,...,...,...
2012-03-20,97.309998,114.838898,0.998600,99.860001,54.183491,244755998,4.744931,-0.005692,-0.914839
2012-03-14,101.019997,115.069000,38.022999,38.022999,20.631075,290361248,1.107341,-0.959451,-0.959451
2012-03-16,99.599998,116.321999,40.459999,40.459999,21.953377,293962304,1.056048,-0.916291,-1.894704
2011-11-21,79.000000,79.370003,75.849998,75.989998,41.231758,293803296,0.045363,NaN,NaN
2011-11-22,76.940002,77.760002,75.099998,76.400002,41.454231,272599360,0.034807,0.005381,NaN

In [193]:
from datetime import datetime as dt

In [171]:
# самое сложное - log daily volatility

In [181]:
# надо сначала индексы привести к dt

In [185]:
for key_val in selected_quotes.keys():
    selected_quotes[key_val] = selected_quotes[key_val].reset_index()

In [209]:
for key_val in selected_quotes.keys():
    try:
        selected_quotes[key_val] = selected_quotes[key_val].set_index('Date')
    except Exception:
        print(key_val)

SBER

In [ ]:
for index, column in selected_quotes['SBER'].iterrows():
    buf_day = yf.download('SBER', period='max', interval='1h', start=index, end=index + pd.DateOffset(1))

    selected_quotes['SBER']['daily_std'] = selected_quotes[key_val]['log_ret'] - selected_quotes[key_val]['log_ret'].shift(1)

In [200]:
selected_quotes['SBER']['Date'][0].day

21

In [204]:
selected_quotes['SBER'] = selected_quotes['SBER'].set_index('Date')

In [212]:
selected_quotes['SBER'].index[0] + pd.DateOffset(2)

Timestamp('2011-11-23 00:00:00')

In [229]:
buf_day = yf.download('SBER.ME', period='max', interval='1h', start='2021-06-06', end='2021-06-30')

[*********************100%***********************]  1 of 1 completed

In [230]:
buf_day

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-06-10 09:30:00+03:00,314.869995,315.350006,313.989990,314.200012,314.200012,5988580
2021-06-10 10:30:00+03:00,314.200012,315.170013,313.760010,315.000000,315.000000,4769760
2021-06-10 11:30:00+03:00,315.000000,315.700012,314.519989,315.160004,315.160004,4940160
2021-06-10 12:30:00+03:00,315.160004,315.690002,315.000000,315.290009,315.290009,2646380
2021-06-10 13:30:00+03:00,315.399994,315.429993,314.549988,314.609985,314.609985,2854040
...,...,...,...,...,...,...
2021-06-29 14:30:00+03:00,306.140015,306.959991,305.899994,306.850006,306.850006,4542640
2021-06-29 15:30:00+03:00,306.799988,307.010010,306.209991,306.880005,306.880005,5007420
2021-06-29 16:30:00+03:00,306.950012,307.140015,306.119995,306.179993,306.179993,4864360
2021-06-29 17:30:00+03:00,306.179993,306.339996,305.440002,305.739990,305.739990,5560820
2021-06-29 18:30:00+03:00,305.750000,305.790009,305.049988,305.140015,305.140015,3880680

In [217]:
# часовая волатильность доступна только за последние два года

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [221]:
730/365

2.0

In [231]:
# можно по фасту чекнуть trading view, если не пройдет, то настояющую волатильность будем смотреть за последние два года

# надо все сохранить

In [235]:
selected_quotes['ABRD']

,Open,High,Low,Close,Adj Close,Volume,log_price_spread,log_ret,log_ret_diff
Date,,,,,,,,,
2012-04-11,52.009998,53.250000,51.700001,53.070000,49.004147,249800,0.029540,NaN,NaN
2012-04-12,53.000000,53.700001,53.000000,53.349998,49.262695,90500,0.013121,0.005262,NaN
2012-04-13,53.299999,53.400002,52.889999,53.270000,49.188828,82900,0.009597,-0.001501,-0.006763
2012-04-16,52.910000,53.250000,52.910000,53.220001,49.142654,59000,0.006405,-0.000939,0.000562
2012-04-17,53.200001,53.380001,53.200001,53.299999,49.216526,77500,0.003378,0.001502,0.002441
...,...,...,...,...,...,...,...,...,...
2022-05-18,184.000000,184.000000,179.500000,180.000000,180.000000,20190,0.024761,0.002782,-0.034102
2022-05-19,181.500000,182.500000,178.000000,179.000000,179.000000,28650,0.024967,-0.005571,-0.008353
2022-05-20,179.000000,179.000000,179.000000,179.000000,179.000000,0,0.000000,0.000000,0.005571
2022-05-23,179.000000,179.000000,179.000000,179.000000,179.000000,0,0.000000,0.000000,0.000000
2022-05-24,179.000000,179.000000,179.000000,179.000000,179.000000,0,0.000000,0.000000,0.000000

In [237]:
for key_val in tqdm(selected_quotes.keys()):
    try:
        selected_quotes[key_val].reset_index().to_excel(fr'data/{key_val}.xlsx', index=False)
    except Exception as e:
        print(f'{key_val} exception: \n {e}')

100%|██████████| 157/157 [00:37<00:00,  4.22it/s]

# сделаем данные для недели, волатильность надо для недели считать

In [24]:
# TODO надо прочитать данные из data и аггрегировать по недельной волатильности
# TODO возможно их все скейлить нужно

In [1]:
import pandas as pd

In [2]:
import glob

In [36]:
from tqdm import tqdm

In [3]:
files_list = glob.glob('data/*')

In [5]:
mrkp_df = pd.read_excel(files_list[0])

In [15]:
mrkp_df['week'] = mrkp_df['Date'].dt.isocalendar().week
mrkp_df['yr'] = mrkp_df['Date'].dt.year

In [19]:
mrkp_df['week_yr'] = mrkp_df['week'].astype(str) + '_' + mrkp_df['yr'].astype(str)

In [29]:
mrkp_df.loc[mrkp_df['week_yr']=='8_2022']

,Date,Open,High,Low,Close,Adj Close,Volume,log_price_spread,log_ret,log_ret_diff,week_yr,week,yr
2999,2022-02-21,0.2167,0.2185,0.1844,0.1900,0.1900,451200000,0.169679,-0.123614,-0.089325,8_2022,8,2022
3000,2022-02-22,0.1800,0.1990,0.1621,0.1922,0.1922,590910000,0.205091,0.011512,0.135126,8_2022,8,2022
3001,2022-02-24,0.1733,0.1733,0.1285,0.1922,0.1922,306310000,0.299095,0.000000,-0.011512,8_2022,8,2022
3002,2022-02-25,0.1425,0.1613,0.1358,0.1342,0.1342,229020000,0.172083,-0.359205,-0.359205,8_2022,8,2022

In [32]:
mrkp_df[['week_yr', 'log_ret']].groupby('week_yr').agg({'log_ret': 'std'})

          log_ret
week_yr
10_2010  0.018773
10_2011  0.020903
10_2012  0.013816
10_2013  0.012343
10_2014  0.055827
...           ...
9_2017   0.036734
9_2018   0.021599
9_2019   0.010941
9_2020   0.020589
9_2021   0.015258

[634 rows x 1 columns]

In [30]:
# todo и так для каждого датасета

In [38]:
week_vol_dict = {}
for file in tqdm(files_list):
    current_df = pd.read_excel(file)
    current_df['week'] = current_df['Date'].dt.isocalendar().week
    current_df['yr'] = current_df['Date'].dt.year
    current_df['week_yr'] = current_df['week'].astype(str) + '_' + current_df['yr'].astype(str)
    week_vol_df = current_df[['week_yr', 'log_ret']].groupby('week_yr').agg({'log_ret': 'std'})  # count weekly volatility
    week_vol_dict[file.replace('data/', '').replace('.xlsx', '')] = week_vol_df

100%|██████████| 157/157 [00:22<00:00,  6.97it/s]

In [39]:
week_vol_dict.keys()

dict_keys(['MRKP', 'RZSB', 'RDRB', 'MFGS', 'LSNG', 'UNKL', 'STSB', 'TGKN', 'KROT', 'TASB', 'ELTZ', 'AFLT', 'CHGZ', 'KZOS', 'SAGO', 'ZILL', 'BANE', 'SFIN', 'PLZL', 'TTLK', 'AFKS', 'AKRN', 'KCHE', 'TGKB', 'SNGS', 'NNSB', 'TRMK', 'YRSB', 'KAZT', 'NAUK', 'MRSB', 'AVAN', 'LPSB', 'YKEN', 'APTK', 'ARSA', 'RTSB', 'LNZL', 'VGSB', 'SIBN', 'JNOS', 'LIFE', 'MSNG', 'MAGE', 'YAKG', 'MSTT', 'UNAC', 'SBER', 'VJGZ', 'BLNG', 'MVID', 'MRKZ', 'BSPB', 'CHMK', 'HYDR', 'MAGN', 'DZRD', 'MRKV', 'PIKK', 'GAZP', 'CBOM', 'IRKT', 'ALRS', 'MGTS', 'IRAO', 'MRKC', 'ASSB', 'TUZA', 'MGNT', 'KGKC', 'UKUZ', 'SELG', 'PRMB', 'RBCM', 'ROST', 'CHMF', 'TATN', 'RGSS', 'CNTL', 'LSRG', 'MSRS', 'KOGK', 'VSMO', 'AMEZ', 'ROLO', 'ROSN', 'KRSB', 'NKHP', 'MISB', 'VTBR', 'IGST', 'SVAV', 'OGKB', 'ROSB', 'UTAR', 'MOEX', 'URKZ', 'INGR', 'RTKM', 'UCSS', 'USBN', 'PAZA', 'NMTP', 'MRKU', 'RTGZ', 'WTCM', 'ABRD', 'VRSB', 'NKSH', 'NSVZ', 'SARE', 'ZVEZ', 'MRKY', 'VSYD', 'UPRO', 'MGNZ', 'DIOD', 'AQUA', 'FESH', 'LKOH', 'ISKJ', 'GAZA', 'KMEZ', 'LVHK', 'FEES', 'NFAZ', 'DVEC', 'RASP', 'PMSB', 'GAZT', 'BELU', 'TNSE', 'MRKK', 'KLSB', 'RUSI', 'NVTK', 'VLHZ', 'KUZB', 'KTSB', 'BRZL', 'KRKN', 'RKKE', 'MTSS', 'KBSB', 'RUAL', 'MTLR', 'TGKA', 'PHOR', 'CHKZ', 'KUBE', 'NKNC', 'MRKS', 'NLMK', 'KMAZ', 'GCHE', 'GMKN', 'TORS'])

In [42]:
week_vol_dict['RZSB'].sort_values(by='log_ret', ascending=False)  # думаю здесь тоже надо чистить outliers

          log_ret
week_yr
14_2013  0.315464
5_2012   0.240732
4_2012   0.234788
22_2020  0.225627
39_2010  0.196385
...           ...
1_2012   0.000000
18_2014  0.000000
26_2014  0.000000
1_2013        NaN
1_2020        NaN

[634 rows x 1 columns]

In [43]:
for key_val in tqdm(week_vol_dict.keys()):
    try:
        week_vol_dict[key_val].reset_index().to_excel(fr'data_vol/{key_val}.xlsx', index=False)
    except Exception as e:
        print(f'{key_val} exception: \n {e}')

100%|██████████| 157/157 [00:02<00:00, 77.40it/s]

In [44]:
# TODO resume, у нас есть ключи у котировок - даты и недели, надо выделить те же ключи у новостей и смэппить данные

In [45]:
# все тоже самое для MOEX, чтобы снизить размерность

In [56]:
imoex_df = yf.download(f'IMOEX.ME', period='max', interval='1d')

[*********************100%***********************]  1 of 1 completed

In [59]:
imoex_df = imoex_df.reset_index()

In [61]:
imoex_df['Date'].min()

Timestamp('2013-03-05 00:00:00')

In [62]:
imoex_df['Date'].max()

Timestamp('2023-05-05 00:00:00')

In [65]:
imoex_df['log_price_spread'] = np.log(imoex_df['High']) - np.log(imoex_df['Low'])

In [66]:
imoex_df['log_ret'] = np.log(imoex_df['Close']) - np.log(imoex_df['Close'].shift(1))

In [67]:
imoex_df['week'] = imoex_df['Date'].dt.isocalendar().week
imoex_df['yr'] = imoex_df['Date'].dt.year
imoex_df['week_yr'] = imoex_df['week'].astype(str) + '_' + imoex_df['yr'].astype(str)
week_vol_imoex_df = imoex_df[['week_yr', 'log_ret']].groupby('week_yr').agg({'log_ret': 'std'})

In [69]:
week_vol_imoex_df = week_vol_imoex_df.reset_index()

In [72]:
imoex_df.to_excel('imoex_data/imoex_quotes.xlsx', index=False)

In [73]:
week_vol_imoex_df.to_excel('imoex_data/imoex_vol.xlsx', index=False)

In [ ]:
week_vol_dict = {}
for file in tqdm(files_list):
    current_df = pd.read_excel(file)
    current_df['week'] = current_df['Date'].dt.isocalendar().week
    current_df['yr'] = current_df['Date'].dt.year
    current_df['week_yr'] = current_df['week'].astype(str) + '_' + current_df['yr'].astype(str)
    week_vol_df = current_df[['week_yr', 'log_ret']].groupby('week_yr').agg({'log_ret': 'std'})  # count weekly volatility
    week_vol_dict[file.replace('data/', '').replace('.xlsx', '')] = week_vol_df