# Надо проверить корреляцию значений бумаг из индекса IMOEX и самого индекса

In [1]:
import yfinance as yf
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
index_df = pd.read_excel('descr_stat.xlsx', sheet_name='index_tickets')

In [ ]:
imoex_data = yf.download('IMOEX.ME', period='max', interval='1d')

In [ ]:
tickers_data = {}
for ticker in index_df['Ticker'].to_list():
    tickers_data[ticker] = yf.download(f'{ticker.upper()}.ME', period='max', interval='1d')

In [5]:
merged_data = pd.DataFrame()
merged_data['IMOEX'] = imoex_data['Close']

In [6]:
for ticker in tickers_data.keys():
    buf_df = tickers_data[ticker]['Close'].to_frame()
    buf_df = buf_df.rename(columns={'Close': ticker})
    merged_data = merged_data.join(buf_df)

In [7]:
merged_data = merged_data.dropna(how='all', axis=1).fillna(0)

In [17]:
merged_data

,IMOEX,AFKS,AFLT,AGRO,ALRS,CBOM,CHMF,ENPG,FIVE,GAZP,...,SBERP,SNGS,SNGSP,MOEX,TATNP,TCsG,TRNFP,VTBR,POLY,YNDX
Date,,,,,,,,,,,,,,,,,,,,,
2013-03-05,1486.420044,26.381001,55.000000,0.0,33.125000,0.0,335.000000,0.0,0.0,136.449997,...,74.000000,29.127001,22.377001,53.750000,109.169998,0.0,68900.0,0.055114,0.0,0.0
2013-03-06,1491.489990,26.610001,55.889999,0.0,32.950001,0.0,343.299988,0.0,0.0,134.850006,...,75.000000,28.987000,22.525000,53.799999,111.180000,0.0,69800.0,0.054702,0.0,0.0
2013-03-07,1491.349976,26.850000,56.099998,0.0,33.000000,0.0,336.899994,0.0,0.0,133.729996,...,75.650002,29.136000,22.500999,53.990002,111.760002,0.0,70050.0,0.054702,0.0,0.0
2013-03-11,1505.930054,26.851999,56.299999,0.0,32.898991,0.0,336.899994,0.0,0.0,136.600006,...,76.449997,29.665001,22.679001,54.000000,112.000000,0.0,69640.0,0.054771,0.0,0.0
2013-03-12,1499.739990,26.830000,56.599998,0.0,32.847000,0.0,333.500000,0.0,0.0,137.250000,...,76.080002,29.929001,22.530001,54.599998,111.500000,0.0,70000.0,0.054693,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-05,2538.239990,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0
2023-05-08,2527.590088,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0
2023-05-10,2548.629883,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0
2023-05-11,2595.120117,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0
2023-05-12,2565.169922,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0

In [18]:
merged_data

,IMOEX,AFKS,AFLT,AGRO,ALRS,CBOM,CHMF,ENPG,FIVE,GAZP,...,SBERP,SNGS,SNGSP,MOEX,TATNP,TCsG,TRNFP,VTBR,POLY,YNDX
Date,,,,,,,,,,,,,,,,,,,,,
2013-03-05,1486.420044,26.381001,55.000000,0.0,33.125000,0.0,335.000000,0.0,0.0,136.449997,...,74.000000,29.127001,22.377001,53.750000,109.169998,0.0,68900.0,0.055114,0.0,0.0
2013-03-06,1491.489990,26.610001,55.889999,0.0,32.950001,0.0,343.299988,0.0,0.0,134.850006,...,75.000000,28.987000,22.525000,53.799999,111.180000,0.0,69800.0,0.054702,0.0,0.0
2013-03-07,1491.349976,26.850000,56.099998,0.0,33.000000,0.0,336.899994,0.0,0.0,133.729996,...,75.650002,29.136000,22.500999,53.990002,111.760002,0.0,70050.0,0.054702,0.0,0.0
2013-03-11,1505.930054,26.851999,56.299999,0.0,32.898991,0.0,336.899994,0.0,0.0,136.600006,...,76.449997,29.665001,22.679001,54.000000,112.000000,0.0,69640.0,0.054771,0.0,0.0
2013-03-12,1499.739990,26.830000,56.599998,0.0,32.847000,0.0,333.500000,0.0,0.0,137.250000,...,76.080002,29.929001,22.530001,54.599998,111.500000,0.0,70000.0,0.054693,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-05-05,2538.239990,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0
2023-05-08,2527.590088,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0
2023-05-10,2548.629883,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0
2023-05-11,2595.120117,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0
2023-05-12,2565.169922,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0

In [21]:
merged_data.columns

Index(['IMOEX', 'AFKS', 'AFLT', 'AGRO', 'ALRS', 'CBOM', 'CHMF', 'ENPG', 'FIVE',
       'GAZP', 'GMKN', 'HYDR', 'IRAO', 'LKOH', 'MAGN', 'MGNT', 'MTSS', 'NLMK',
       'NVTK', 'PHOR', 'PIKK', 'ROSN', 'RTKM', 'RUAL', 'SBER', 'SBERP', 'SNGS',
       'SNGSP', 'MOEX', 'TATNP', 'TCsG', 'TRNFP', 'VTBR', 'POLY', 'YNDX'],
      dtype='object')

In [24]:
set(index_df['Ticker'].to_list()) - set(list(merged_data.columns))

{'FIXP', 'GLTR', 'OZON', 'PLZLI', 'VKCO'}

In [8]:
merged_data_corr = merged_data.corr()

In [9]:
merged_data_corr.to_excel('merged_correlations_imoex.xlsx')

In [25]:
# plt.figure(figsize=(20, 20))
# sns.heatmap(merged_data_corr, cmap="coolwarm", annot=True, fmt=".2f", linewidths=0.5)
# plt.title("Correlation Matrix")
# plt.savefig('heatmap.png')
# plt.show()

In [14]:
plt.savefig('heatmap.png')

In [31]:
merged_data_corr['IMOEX'].to_frame().sort_values(by='IMOEX', ascending=False).reset_index().to_excel('sorted_corr.xlsx', index=False)